body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    background-color: #212529;
    color: white;
    padding: 0 30% 0 30%;

}
.titulo-convertor{
    border-top: 1px solid #1F3238;
    border-bottom: 1px solid #1F3238;
}
.cuerpo-convertor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #6C757D;
    padding: 10px 20px 10px 20px;
}
.cuerpo-convertor > input,select,button{
    width: 100%;
}

button{
    background-color: #31D2F2;
    border: 2px solid #3A93A8;
    color: white;
}
